* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Phudu";
    src: url(../fonts/phudu.ttf);
}

@font-face {
    font-family: "Comme";
    src: url(../fonts/comme.ttf);
}

h1 {
    font-family: "Phudu";
    font-size: 40px;
}

ul {
    list-style: none;
}


li {
    font-family: "Phudu";
}


body {
    background-color: #B1EAF1;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: "Comme";
    padding: 10px;
}

h3 {
    font-size: 25px;
    font-family: "Comme";
    padding: 10px;
    text-align: center;
}

h4 {
    font-size: 15px;
    font-family: "Comme";
    text-align: center;
}


p {
    font-size: 25px;
    font-family: "Comme";
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Phudu"
}

i {
    color: white;
}
