.cuerpocontacto {
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

input {
    background-color: #F08080;
    border: 2px solid;
    width: 250px;
    height: 30px;
}

textarea {
    background-color: #F08080;
    border: 2px solid;
}

button {
    font-size: 20px;
}

.checkbox {
    width: 20px;
}

label {
    font-size: 25px;
}

select {
    background-color: #F08080;
    padding: 15px;
    font-size: 20px;
    margin-left: 880px;
    border: 2px solid;
}

.contacto {
    background-color: #F08080;
    width: 400px;
    margin: auto;
    border-style:solid;
}