.historia { 
    background-image: url(../imagenes/historia3.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    color:white;
}
    
    .textohistoria {
        height: 450px;
        width: 1500px;
        font-size: 20px;
        padding: 50px;
        color: white;
    }
    
    
    .albumes {
       text-align: center;
       font-size: 20px; 
    }
    
    .livestream {
      flex-flow: row;
      justify-content: space-between;
    }
    
    
    .shows {
        text-align: center;
        justify-content: center;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        gap: 150px;
    }