footer {
    background-color: black;
    color: white;
    text-align: center;
}

.listafooter {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.fa-brands {
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
}