@media (max-width: 450px) {
    header{
     flex-direction: column;
     text-align: center;
 }
 .listadonav {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .contenedor{
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
 }
 footer{
     text-align: center;
     gap: 10px;
 } 
 
 .logonav {
    width: 450px;
}

img {
    width: 425px;
}


 iframe {
    width: 350px;
 }

 #historia {
    width: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    object-fit: cover;    
}
 
 .cuerpocontacto {
     flex-direction: column;
     text-align: center;
     padding: 20px; 

}

.textohistoria {
    width: 450px;
    height: 450px;
    font-size: 15px;
}

#asunto {
    margin-left: 160px;
}

.imagen {
    width: 425px;
}

.videos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

}
@media (max-width: 1024px) and (min-width: 451px) {
    header{
     flex-direction: column;
     text-align: center;   
    }
    
    .listadonav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapasshows{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
 }
 footer{
     text-align: center;
     gap: 10px;
 } 

 .livestream {
     display: none;
 }
 
 .historia {
     width: 1024px;
    }
 
 .cuerpocontacto {
     flex-direction: column;
     text-align: center;
     padding: 20px; 
 }
 
 .contenedor{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}
.textohistoria{
width: 1020px;
}    

#asunto {
    margin-left: 445px;
}

img {
    width: 1001px;
}

.imagen {
    width: 1001px;
}

.videos {
    display: flex;
    flex-direction: column;
    text-align: center;
}


}