* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

nav { 
    background-color: #FFD2C9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.listadonav {
    display: flex;
    gap: 25px;
}

footer {
    background-color: #91e4fb;
}

.historia { 
background-image: url(historia.jpg);
background-attachment: fixed;
display: flex;
flex-direction: column;
align-items: center;
}

.textohistoria {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

body {
    background-color: beige;
}

.albumes {
   text-align: center;
   font-size: 20px; 
}

.livestream {
  flex-flow: row;
  justify-content: space-between;
    
}


.shows {
    text-align: center;
}

.mapasshows {
    display: flex;
    gap: 25px;
}


@media (max-width: 375px) {
   .header{
    flex-direction: column;
   }

.listadonav {
    display: flex;
    flex-direction: column;
    align-items: center;
     }
    .mapasshows{
     display: flex;
     flex-direction: column;
     gap: 20px;
    text-align: center;
    }
footer{
    text-align: center;
    gap: 10px;
} 

.livestream {
    width: 375px;
}

.historia {
    border-image: 375px;

}

.cuerpocontacto {
    flex-direction: column;
    text-align: center;
    padding: 20px; 
}
}

.listafooter {
    font-size: 20px;
}
  

p { 
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}